@page
@model ForgotPasswordConfirmation
@{
    Layout = "/Views/Shared/Admin/_LoginLayout.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
 
                <div class="login-form-body"> 
                        Please check your email to reset your password.                

                </div>           
        </div>
    </div>
</div>
